name: cisTEMx GPU release, GNU MKL

on:
  workflow_run:
    workflows: ["check_cpp_formatting"]
    types:
      - completed
    branches:
      - main
      - '*_with_ci'

jobs:
  run_build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: ./.github/workflows/run_builds.yml
    with:
      build_type: "GPU_release_GNU_MKL"
      configure_options: "--with-cuda "
      global_configure_options: "  --disable-FastFFT --enable-openmp --enable-experimental --enable-staticmode --with-wx-config=/opt/WX/wx305-gcc-static-gtk2/bin/wx-config --disable-multiple-global-refinements  "
      runs_on_os: cpu_2core_runner
      CC: gcc
      CXX: g++
      cppstandard: 17
      run_tests: 'gpu'
      n_threads: 2
